@media screen and (max-width: 1400px) {
    
    /*-------------------
        Main Page
    --------------------*/
    .banner-content {
        padding: 120px 0;
    }
    .about-element {
        padding: 10px 0;
    }
    .service .hexagon-circle:before {
        top: 2px;
        left: -4px;
        transform: rotate(60deg);
    }
    .service .hexagon-circle:after {
        top: 2px;
        left: -3px;
        transform: rotate(120deg);
    }
    .service .hexagon-circle {
        border-radius: 16px;
    }
    
    
    
    /*------------------
        Blog Page  
    --------------------*/
    .blogpage .custom-btn {
        padding: 8px 15px;
        font-size: 14px;
    }
    .blog-footer .custom-btn {
        padding: 2px 18px;
    }
    
}
@media screen and (max-width: 1366px){
    .about-element {
        padding: 0px 0;
    }
    .about-activity p {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1200px){
    
    
    /*-------------------
        Main Page
    --------------------*/
    
    .about-activity h2 {
        margin-bottom: 9px;
    }
    .about-activity p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about-details {
        margin-bottom: 20px;
    }
    .about-details li {
        padding: 3px 0;
        font-size: 15px;
    }
    .about-us .custom-btn {
        padding: 7px 16px;
        font-size: 14px;
    }
    .about-element {
        padding: 15px 0;
    }
    .service .hexagon-circle {
        border-radius: 15px;
    }
    
    
    /*------------------
        Blog Single  
    --------------------*/ 
    .comment-contact input {
        width: 100%;
    }
    
    
    
}

@media screen and (max-width: 990px){
    
    .blogpage .section-padding {
        padding: 50px 0;
    }
    .section-padding {
        padding: 70px 0px;
    }
    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 4px;
    }
    .banner-content h3 {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .about-us .row{
        margin: 0;
        padding: 0;
    }
    .about-element{
        padding-top: 50px;
        padding-left: 30px;
    }
    .service .hexagon-circle {
        margin-bottom: 40px;
        float: none;
    }
    .service-content {
        display: table;
        margin-left: 55px;
    }
    .service-element {
        margin-bottom: 10px;
    }
    .counter-element {
        margin-bottom: 70px;
    }
    .hexagon-circle {
        margin-bottom: 35px;
    }
    
    .our-video-element {
        padding: 200px 0px;
    }
    .team-element, .feature-element {
        margin-bottom: 50px;
    }
    .pricing-table-element, .our-blog .blog-element, .contact-element {
        margin: 0px 100px 50px;
    }
    .testimonial-content .distinctively {
        font-size: 17px;
    }
     
    
    /*------------------
        Blog Page  
    --------------------*/
    
    .blogpage-post-items {
        margin-bottom: 100px;
    }
    .widget-post-thumb{
        text-align: center;
        margin-bottom: 20px;
    }
    .widget-thumb {
        float: none;
        margin-right: 0;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .widget-post {
        display: block;
        margin-left: 0;
        overflow: hidden;
    }
    
      
    /*------------------
        Blog Single  
    --------------------*/
    .blogpage.blog-single blockquote:after {
        top: 40%;
    }
    .blogpage.blog-single blockquote {
        font-size: 16px;
    }
    
    
}


@media screen and (max-width: 768px){
    
    .row{
        margin: 0;
        padding: 0;
    }
    
    /*-------------------
        Main Page
    --------------------*/
    .navbar-default .navbar-collapse {
        float: left;
        width: 100%;
    }
    .navbar-default .navbar-toggle {
        margin-top: 30px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 5px 12px;
    }
    .search-cart-area {
        display: none;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
         background-color: transparent;
    }
    .main-menu .navbar-toggle.collapsed .icon-first{
        transform: rotate(0deg) translate(0px,0px);
    }
    .main-menu .navbar-toggle .icon-first{
        transform: rotate(45deg) translate(4px,5px);
        transition: all .40s ease-in-out;
    }
    .main-menu .navbar-toggle.collapsed .icon-second{
        opacity: 1;
    }
    .main-menu .navbar-toggle .icon-second{
        opacity: 0;
    }
    .main-menu .navbar-toggle.collapsed .icon-third{
        transform: rotate(0deg) translate(0px,0px);
    }
    .main-menu .navbar-toggle .icon-third{
        transform: rotate(-45deg) translate(4px,-5px);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .team-element, .feature-element, .service-element {
        margin: 0px 100px 50px;
    }
    .service-content {
        display: inline-block;
        margin-left: 0;
    }
    
    
    
    /*------------------
        Blog Page  
    --------------------*/
    .custom-pagination li {
        margin-right: 10px;
    }
    .custom-pagination li a {
        width: 30px;
        height: 30px;
        line-height: 26px;
    }
    
    
      
    
    
    
}
@media screen and (max-width: 640px){
    
    
    /*-------------------
        Main Page
    --------------------*/
    
    .banner-content {
        max-width: 400px;
        padding-left: 20px;
    }
    .banner-content h1 {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    .banner-content h3 {
        font-size: 18px;
        line-height: 33px;
    }
    .home-map .map {
        height: 400px;
    }
    
    
    
}
@media screen and (max-width: 500px){
    
    
    /*-------------------
        Main Page
    --------------------*/
    
    .portfolio-grid-list li {
        margin-bottom: 10px;
    }
    .team-element,.pricing-table-element, .our-blog .blog-element, .contact-element,.team-element, .feature-element, .service-element {
        margin: 0px 50px 50px;
    }
     
    
    
    
    /*------------------
        Blog Page  
    --------------------*/
    .custom-btn.prev-btn {
        float: none;
        margin-bottom: 20px;
    }
    .custom-btn.next-btn {
        float: none;
    }
    .blog-pagination {
        margin-bottom: 20px;
        display: block;
    }
    
    
     
    /*------------------
        Blog Single  
    --------------------*/
    
    .author-thumb {
        display: none;
    }
    .author-info {
        margin-left: 0;
    }
    .author-info h6{
        font-size: 18px;
    }
    .comment-list.extra {
        margin-left: 20px;
    }
    .comment-reply {
        font-size: 12px;
    }
    .blogpage.blog-single blockquote:after {
        top: 25%;
    }
    .blogpage.blog-single blockquote {
        font-size: 14px;
    }
    
    
}
 
@media screen and (max-width: 400px){
    
    /*-------------------
        Main Page
    --------------------*/
     .banner {
        height: auto;
    }
    .custom-btn {
        padding: 5px 20px;
        font-size: 14px;
    }
    .banner-content h3 {
        margin-bottom: 20px;
    }
    .section-heading h2 {
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 35px;
    }
    .team-element,.pricing-table-element, .blog-element, .contact-element,.team-element, .feature-element, .service-element {
        margin: 0px 0px 50px;
    }
    
    /*------------------
        Blog Page  
    --------------------*/
    .footer .section-wrapper {
        text-align: center;
    }
    .footer-text {
        float: none;
    }
    .footer-icon {
        float: none;
    }
    
    
    /*------------------
        Blog Single  
    --------------------*/
    .comment-reply {
        display: none;
    }
    .comment-time {
        font-size: 13px;
    }
    
    
    
    
}
@media screen and (max-width: 320px){
    
    /*-------------------
        Main Page
    --------------------*/
    
    .banner-content h1 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .banner-content h3 {
        font-size: 15px;
        line-height: 20px;
    }
    .our-blog .custom-btn {
        padding: 8px 15px;
        font-size: 14px;
    }
    .our-blog .blog-content h5 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .our-blog .post-meta li {
        margin-bottom: 0px;
    }
    .contact .col-md-4:nth-child(1) .contact-content {
        padding-bottom: 0;
    }
    
    /*------------------
        Blog Page  
    --------------------*/
    .custom-pagination li a {
        margin-bottom: 5px;
    }
    
    
    /*------------------
        Blog Single  
    --------------------*/    
    
    .blogpage-banner-content {
        padding: 120px 0px 100px;
    }
    .blogpage.blog-single .blog-content p {
        font-size: 14px;
    }
    .blog-social-icon li {
        margin-bottom: 10px;
    }
    
    
}